<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite TV Shows Survey</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <section class='form-section'>
        <div class='form-container'>
            <label class='title'>Favorite TV Shows survey</label>
            <label class='subtitle'>Help us to understand what TV shows are your favourite</label>
            <form id="survey-form">
                <section class='full-name-section'>
                    <div class='form-block'>
                        <div>
                            <label> First Name </label>
                            <label class='input-rules-info'> (max 30 characters a-z and A-Z) </label>
                        </div>
                        <input type="text"></input>
                    </div>    
                    
                    <div class='form-block'>
                        <div>
                            <label> First Name </label>
                            <label class='input-rules-info'> (max 30 characters a-z and A-Z) </label>
                        </div>
                        <input type="text"></input>
                    </div>    
                
                </section>
    
                <div class='form-block'>
                    <label> Email Adress </label>
                    <input type="email"></input>
                </div> 
    
                <div class='form-block'>
                    <label> Address </label>
                    <input type="text" class='address-input'></input>
                </div> 
    
                <div class='form-block'>
                    <label> Date Of Birth </label>
                    <input type="date"></input>
                </div> 
    
                <div class='form-block'>
                    <label class="gender-label"> Gender </label>
                    <section class="gender-selection-section">
                        <input type="radio" name="gender"></input>
                        <label> Male </label>
                    </section>
    
                    <section class="gender-selection-section">
                        <input type="radio" name="gender"></input>
                        <label> Female </label>
                    </section>
                </div> 
                
                <div class='form-block'>
                    <label> Favourite TV Shows list </label>
                    <input type="text"></input>
                    <input type="text"></input>
                    <input type="text"></input>
                </div>
    
                <div class='form-block'>
                    <label> Your Favourite TV Shows type </label>
                    <section class='favourite-tv-shows-type-section'>
                        <div class='checkbox-block'>
                            <input type="checkbox">
                            <label> Adventure </label>
                        </div>
    
                        <div class='checkbox-block'>
                            <input type="checkbox">
                            <label> Drama </label>
                        </div>
    
                        <div class='checkbox-block'>
                            <input type="checkbox">
                            <label> Horror </label>
                        </div>
    
                        <div class='checkbox-block'>
                            <input type="checkbox">
                            <label> Documentary </label>
                        </div>
    
                        <div class='checkbox-block'>
                            <input type="checkbox">
                            <label> Other </label>
                        </div>
                    </section>
                    <div class='checkbox-block terms-and-conditions-checkbox' >
                        <input type="checkbox" >
                        <label> Creating account means you're okay with our Terms and Conditions and our Privacy Policy </label>
                    </div>
                </div>
                
                <div class='form-block'>
                    <button> Register </button>
                </div>
            </form>
            <p id="form-message"></p>
        </div>
    </section>
    
    <section class="background-image-section">
    </section>
</body>
</html>
